body {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set the minimum height to 100% of the viewport height */
}

.container {
  flex-grow: 1; /* Take up all available space */
}

footer {
  margin-top: auto; /* Push the footer to the bottom */
  height: 100px;
  width: 100%;
}

/*navbar style*/

:root {
  --text-color: #333;
  --bg-color: #fff;
}
.dark-mode {
  --text-color: #fff;
  --bg-color: #333;
}
.navbar {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 70px;
  width: 100%;
}

/* .navbar {
  background-color: #4d455d;
 
} */

.nav-link {
  color: #f5e9cf;
  font-size: 15px;
  text-indent: 15px;
}
.nav-link:hover {
  color: #e96479;
}

/*Logo style*/

.logo {
  color: #f5e9cf;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-size: 20px;
  padding-left: 30px;
}

.navbar-collapse {
  padding-right: 40px;
}

/*Homepage style*/

.jumbotron {
  position: relative;

  padding-top: 30%;
}

.childOne {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hi {
  padding-top: 30px;
}

.lead {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.paragraph {
  padding-bottom: 20px;
}
.about {
  text-align: justify;
}

.avatar {
  position: absolute;
  top: 70px;
  right: 50px;
  width: 220px;
  height: auto;
}

.avatarImage {
  border-radius: 50%;
  width: 250px;
}

/*Buttons style*/

.btn-border {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  width: 154px;
  height: 49px;
  border: 1px dashed #e96479;
  border-radius: 20px;
  box-sizing: border-box;
}

.btn-one {
  position: absolute;
  top: 5px;
  left: -5px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #e96479;
  padding: 10px;
  height: 100%;
  border: 1px solid #e96479;
  border-radius: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}

.btn-one:hover {
  color: #f5e9cf;
  background-color: #e96479;
}

.btn-border-two {
  position: relative;
  display: inline-block;
  width: 154px;
  height: 49px;
  border: 1px dashed #4d455d;
  border-radius: 20px;
  box-sizing: border-box;
}

.btn-two {
  position: absolute;
  top: 5px;
  left: -5px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #4d455d;
  padding: 10px;
  height: 100%;
  border: 1px solid #4d455d;
  border-radius: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}

.btn-two:hover {
  color: #f5e9cf;
  background-color: #4d455d;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

/*Footer*/

.rights {
  /* display: flex; */
  text-align: center;
  /* padding-top: 200px; */
  /* padding-left: 500px; */
}

/*Style my projects file*/

.border-card-box {
  box-sizing: border-box;
  position: absolute;
  width: 299px;
  height: 354px;
  background: #ffffff;
  border-radius: 0px 20px;
}

.card {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 300px;
  height: 370px;
  border: 2px dashed #4d455d;
  border-radius: 0px 20px;
}

.card-text {
  font-size: 15px;
  padding-top: 20px;
}

.card-title {
  font-size: 30px;
  text-align: center;
}

/*Style carousel*/

/*Creat a button*/

.btn-projects {
  position: absolute;
  bottom: 5px;
  left: -5px;
  text-align: center;
  text-decoration: none;
  color: #e96479;
  padding: 10px;
  border: 1px solid #e96479;
  border-radius: 0 0 0 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}
/*Added a border to the button*/
.btn-projects-border {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  width: 129px;
  height: 46px;
  border: 1px dashed #e96479;
  border-radius: 0 0 0 20px;
  box-sizing: border-box;
}

.btn-projects:hover {
  color: white;
  background-color: #e96479;
  color: #f5e9cf;
}

/*Style skills page*/
.skills {
  text-align: center;
  color: #e96479;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mySkills {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card-one {
  position: absolute;
  top: 5px;
  left: -5px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #4d455d;
  padding: 10px;
  height: 350px;
  border: 1px solid #4d455d;
  border-radius: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}
.card-border-one {
  position: relative;
  display: inline-block;
  height: 350px;
  margin-right: 20px;
  border: 1px dashed #4d455d;
  border-radius: 20px;
  box-sizing: border-box;
}

.btn-border {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  width: 154px;
  height: 49px;
  border: 1px dashed #e96479;
  border-radius: 20px;
  box-sizing: border-box;
}

.btn-one {
  position: absolute;
  top: 5px;
  left: -5px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #e96479;
  padding: 10px;
  height: 100%;
  border: 1px solid #e96479;
  border-radius: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}

.card-one:hover {
  background-color: #4d455d;
  color: #f5e9cf;
}

.card-two:hover {
  background-color: #4d455d;
  color: #f5e9cf;
}

.btn-skills {
  display: flex;
  justify-content: center;
  color: #e96479;
  font-size: 20px;
  padding-top: 30px;
}

/*Button*/
.contacts-button {
  position: absolute; /* or fixed, or sticky */
  bottom: 225px; /* adjust this value to position the button as desired */
  width: 150px;
  left: 45%;
  text-align: center;
  text-decoration: none;
  color: #e96479;
  padding: 10px;
  height: 40px;
  border: 1px solid #e96479;
  border-radius: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}
.contacts-button:hover {
  color: #f5e9cf;
  background-color: #e96479;
}

.footer {
  background-color: #7db9b6;
}

.social-icons {
  text-align: center;
  font-size: 30px;
}
.social-icons > a {
  padding-top: 30px;
  color: #4d455d;
}
